#roadmap .hero {
    background: url("../../images/roadmap/roadmap-hero.jpg") center center/cover no-repeat;
}


.roadmap-hero {
    color: #fff;
}

#roadmap .title {
    font-size: 4rem;
    font-weight: 500;
}

.presale-btn {
    font-size: 1.3rem !important;
    font-weight: 500 !important;
    padding-inline: 20px !important;
}

/* Roadmap */


.roadmap-content {
    display: flex;
    flex-wrap: wrap;
}

.road-circle {
    position: absolute;
    width: 25px;
    height: 25px;
    border: solid 3px #102252;
    border-radius: 50%;
    left: -14px;
    top: 0px;
    background-color: #fff;
    padding: 2px;
    
}

.inner-circle {
    height: 100%;
    width: 100%;
    background-color: #102252;
    border-radius: 50%;
}

.roadmap-content:last-child .roadmap-text {
    border: none;
}


.roadmap-heading {
    flex: 1;
    padding: 0px 0px 10px 30px;
}
.roadmap-text {
    position: relative;
    border-left: solid 2px #102252;
    flex: 1.8;
    padding: 0px 0px 50px 30px;
    margin-bottom: 0;
    
}




#presale {
    background: url("../../images/roadmap/coin-bg.jpg") center center/cover no-repeat;
    text-align: center;
}

.presale-container {
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
   
}

.presale-image {
    max-width: 200px;
    height: 200px;
    background-color: #102252;
    border-radius: 50%;
    padding: 10px;
    margin-inline: auto;
    margin-bottom: 5rem;
}

.total-pric {
    margin-bottom: 6rem;
}

.tech {
    margin-top: 130px;
    overflow: hidden;
}



.tech .icon {
    min-width: 15px;
    height: 15px;
}

@media (max-width: 576px) {
    .roadmap-content {
        display: block;
    }

    .road-circle {
        left: -13px;
        top: -30px;
    }

    .roadmap-heading {
        margin-bottom: 0;
        padding-bottom: 0;
        border-left: #102252 solid 2px;
    }
}