#roadmap .hero {
    background: url("../../images/roadmap/roadmap-hero.jpg") center center/cover no-repeat;
}


.roadmap-hero {
    color: #fff;
}

#roadmap .title {
    font-size: 4rem;
    font-weight: 500;
}

.presale-btn {
    font-size: 1.3rem !important;
    font-weight: 500 !important;
    padding-inline: 20px !important;
}

/* Roadmap */

.roadmap-content {
   max-width: 1200px;
   margin-inline: auto;
   padding-bottom: 30px;
}

.roadmap-content ul {
    list-style: inside;
}


#presale {
    background: url("../../images/roadmap/coin-bg.jpg") center center/cover no-repeat;
    text-align: center;
}

.presale-container {
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
   
}

.presale-image {
    max-width: 200px;
    height: 200px;
    background-color: #102252;
    border-radius: 50%;
    padding: 10px;
    margin-inline: auto;
    margin-bottom: 5rem;
}

.img-slider {
    max-width: 1200px;
    margin-inline: auto !important;
}

.total-pric {
    margin-bottom: 6rem;
}

.tech {
    margin-top: 130px;
    overflow: hidden;
}

.tech-side {
    max-width: 500px;
    margin: auto;
    padding: 100px 0;
}
    
    

.tech .icon {
    min-width: 15px;
    height: 15px;
}

@media (max-width: 576px) {
    .roadmap-content {
        display: block;
    }

    .road-circle {
        left: -13px;
        top: -30px;
    }

    .roadmap-heading {
        margin-bottom: 0;
        padding-bottom: 0;
        border-left: #102252 solid 2px;
    }
}