/* Home */
#home {
    position: relative;
}

.swiper {
    z-index: -1;
}

.hero-bg {
    width: 100%;
    height: 100%;
}

#home .hero-bg1 {
    background:url("../../images/home/hero_bg.png") center center/cover no-repeat;
    background-position-x: left;
}

.hero-bg2 {
    background-color: #1b1b1b;
}

#home .hero-context {
    max-width: 391px;
}

.animation-coin {
    object-fit: cover;
}

.buying-section {
    max-width: 450px;
    margin-left: auto;
    border-radius: 15px;
    background-color: #0b0b0b;
}

.box-head {
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    text-transform: capitalize;
}

.box-para {
    color: #102252;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
}

.countdown {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.days {
    font-weight: 600;
    font-size: 35px;
    color: #fff;
}

.para-2 {
    background-color: #00ff00;
    color: #fff;
    padding: 10px;
    font-weight: 700;
    text-align: center;
    border-radius: 15px;
    border: 1px solid #00ff00;
}

.box-amount {
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.sup-amount {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.coins {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 34px;
}

.input-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.input-1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* gap: 5px; */
}

.input-text {
    color: #fff;
    font-weight: 400;
    font-size: 15px;
}

.input {
    border-color: 2px solid #fff;
    outline: none;
}

.box-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.button-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #102252;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 8px;
    border: 2px solid #102252;
}

.button-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #102252;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    text-transform: capitalize;
    text-decoration: none;
    border-radius: 8px;
    border: 2px solid #102252;
}

.bottom-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 5px; */
}
/* Welcome Section */


.action-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    grid-gap: 20px;
}

.text {
    text-align: center;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
}

/* Marquee */
.marquee {
    background-color: #102252;
    color: #fff;
}

/* Opportunity Section */
#opportunity {
    background: url("../../images/home/opportunity.png") center center/cover no-repeat;
    min-height: 480px;
}


/* Acesss */
.access-gallery {
    margin-top: 132px;
}

.gallery {
    border: solid 1px #102252;
}

.access-gallery h6 {
    font-weight: 700;
    margin-top: 10px;
}

.access-gallery a {
    color: #1b1b1b !important;
    text-decoration: none !important;
}

/* News Letter */
#newsletter {
    background: linear-gradient(90deg, #102252 32.81%, rgba(16, 34, 82, 0.00) 100%);
    min-height: 333px;
    color: #fff;
    display: flex;
    align-items: center;
}

#supelle.pb-0 {
    padding-bottom: 0 !important;
}
/* Watch Video */
#watch-video {
    min-height: 685px;
    background: url("../../images/home/video.png") center center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px !important;
}

.video-content {
    max-width: 400px;
}

.video {
    max-width: 560px;
    height: 315px;
    background-color: #2A3F7C;
}


@media (max-width: 768px) {

    .hero-bg1 {
        background-position-x: 30%;  
    }

    .swiper2{
        display: block !important;
    } 
    .buying-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .box-head {
        font-weight: 600;
        font-size: 20px;
        margin-top: 10px;
    }
    .box-para {
        font-weight: bold;
        font-size: 20px;
    }
    .countdown {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 385px;
    }
    .days {
        font-weight: bold;
        font-size: 22px;
    }
    .para-2 {
        width: 300px;
        font-weight: bolder;
        font-size: 20px;
    }
    .box-amount {
        width: 500px;
        font-weight: bold;
        font-size: 15px;
    }
    .input-area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: 17px;
    }
    .bottom-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .text {
        font-weight: 500;
        font-size: 20px;
    }
}