/* Home */
#home {
    position: relative;
}

.swiper {
    z-index: -1;
}

.hero-bg {
    width: 100%;
    height: 100%;
}

#home .hero-bg1 {
    background:url("../../images/home/hero_bg.png") center center/cover no-repeat;
    background-position-x: left;
}

.hero-bg2 {
    background-color: #1b1b1b;
}

#home .hero-context {
    max-width: 391px;
}

.animation-coin {
    object-fit: cover;
}

.buying-section {
    max-width: 450px;
    margin-left: auto;
}



/* Welcome Section */


.action-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    grid-gap: 20px;
}


/* Marquee */
.marquee {
    background-color: #102252;
    color: #fff;
}

/* Opportunity Section */
#opportunity {
    background: url("../../images/home/opportunity.png") center center/cover no-repeat;
    min-height: 480px;
}


/* Acesss */
.access-gallery {
    margin-top: 132px;
}

.gallery {
    border: solid 1px #102252;
}

.access-gallery h6 {
    font-weight: 700;
    margin-top: 10px;
}

/* News Letter */
#newsletter {
    background: linear-gradient(90deg, #102252 32.81%, rgba(16, 34, 82, 0.00) 100%);
    min-height: 333px;
    color: #fff;
    display: flex;
    align-items: center;
}

#supelle.pb-0 {
    padding-bottom: 0 !important;
}
/* Watch Video */
#watch-video {
    min-height: 685px;
    background: url("../../images/home/video.png") center center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px !important;
}

.video-content {
    max-width: 400px;
}

.video {
    max-width: 549px;
    height: 288px;
    background-color: #102252;
}


@media (max-width: 768px) {

    .hero-bg1 {
        background-position-x: 30%;  
    }

    .swiper2{
        display: block !important;
    } 
}