#invest .hero {
    background: url("../../images/invest/invest_hero.jpeg") center center/cover no-repeat;
}

#invest .hero-heading {
    font-size: 4rem;
}
.normal-image {
    height: 40px;
    width: 40px;
    margin-right: 15px;
    
}


#solution {
    background: url("../../images/invest/solution-bg.jpeg") center center/cover no-repeat;
    position: relative;
    padding: 5rem 0 !important;
}


#solution .overlay {
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 0;
}

.solution-context {
    position: relative;
}

.custom-card {
    border-left: solid 1px #1b1b1b;
    padding-left: 1rem;
    position: relative;
    
}


.card-image
 {
    width: 100px;
    height: 100px;
    position: absolute;
    left: -9px;

}

.card-image.top {
   bottom: -100px;
}
.card-image.bot {
   top: -100px;
}

.card-image img,
.invest-image img {
    width: 100%;
}

.slider {
    margin-top: 100px;
}

.slider .swiper {
    z-index: 0;
    padding-bottom: 20px;

}

.swiper-pagination-bullet {
    max-width: 100px;
    width: 100%;
    border-radius: 0px;
}

.investment {
    background: url("../../images/invest/investment.jpeg") center center/cover no-repeat fixed;
    color: #fff;
    padding: 30px 0;
    position: relative;
    min-height: 400px;
    display: flex;
    align-items: center;
}

.investment::before {
    opacity: 0.3;

}
.investment-heading {
    z-index: 1;
    position: relative;
}


.invest-image {
    width: 80px;
    margin-bottom: 20px;
}

.factor-item {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    color: #102252;
}

.factor-item .icon {
    margin-right: 15px;
    min-width: 15px;
    margin-top: 5px;
    height: 15px;
}

#create-token {
    background: url("../../images/invest/revolution.jpeg") center center/cover no-repeat fixed;
    width: 100%;
    height: 100%;
    color: #fff;
    position: relative;
}


#letstoken {
    background-color: #1e3b8c;
}





@media (max-width: 576px) {
    #invest .hero-title {
        font-size: 2.5rem;
    }
}

@media (max-width: 767px) {
    .card-image.top {
        top: -70px;
    }
}