@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    background-color: #fff;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    
    
}


.container {
    max-width: 1440px;
    width: 95%;
    margin: auto;
    overflow: hidden !important;
}

/* ====== Resets ====== */
a {
    text-align: #fff;
}



a:hover {
    opacity: 0.7;
    transition: 0.4s;
}

.dropdown-item:focus {
    background-color: none !important;
}

.btn:focus {
    box-shadow: none !important;
}


ul{
    list-style: none;
}

/* ===================== */


/* ======= Utilities ======= */
.transition {
    transition: 0.4s;
}

.pri-color {
    color: #102252;
}

.pri-bg {
    background-color: #102252;
    color: #fff;
}

.light-bg {
    background-color: #fff;
}

.transparent {
    background-color: transparent !important;
}

.heading {
    font-family: Helvetica, sans-serif;
    font-weight: 500;
    line-height: 1.2;
}

.sub-heading {
    font-family: Helvetica, sans-serif;
    font-weight: 200;
    line-height: 1.5;
    
}

.hero-heading {
    font-size: 90pt;
    font-size: 3.7rem;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.4);
}

.hero-caption {
    font-size: 1.5rem;
} 

.title {
    font-size: 45px;
}

.sub-title {
    font-size: 24px;
}


/* ==================== */


@media (max-width:576px) {
    .hero-heading {
        font-size: 2.5rem !important;
    }
    .pt {
        padding-top: 135px;
    }
}


