#sup .hero {
    background: url("../../images/sup/sup-hero.jpeg") center center/cover no-repeat;
}


#revolution {
    background: url('../../images/sup/revolution-bg.jpg') center center/cover no-repeat;
    color: #fff;
    position: relative;
}


.sup-image {
    border-radius: 50px;
    overflow: hidden;
    
}