#sup .hero {
    background: url("../../images/sup/sup-hero.jpeg") center center/cover no-repeat;
    min-height:75vh !important;
}



#sup .sup-container {
    min-height: 75vh !important;
}


#revolution {
    background: url('../../images/sup/revolution-bg.jpg') center center/cover no-repeat;
    color: #fff;
    position: relative;
}


.sup-image {
    border-radius: 50px;
    overflow: hidden;
    max-width: 450px;
    
}

#sup #backdoor {
    padding-top: 0rem !important;
}